<?xml version="1.0"?>

<launch>
  <arg name="gui" default="true"/>
  <arg name="arena" default="arena_8walls_blocks_ramps.world"/>

  <include file="$(find traverse_gazebo)/launch/start.launch">
   <arg name="world" value="$(arg arena)"/>
   <arg name="gui" value="$(arg gui)"/> 
  </include>

</launch>
